n8n/workflow.json
{
  "name": "Growth Intel Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "growth-intel-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "New Topic (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/research",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"topic\": $json.body.topic } }}",
        "options": {}
      },
      "id": "call-research-api",
      "name": "Run Research + Content Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"headline\": $json.headline, \"source_url\": $json.source_url, \"draft\": $json.draft } }}"
      },
      "id": "respond",
      "name": "Return Draft",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "New Topic (Webhook)": {
      "main": [
        [
          {
            "node": "Run Research + Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Research + Content Agent": {
      "main": [
        [
          {
            "node": "Return Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
